[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environs = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
