<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Verify your email</title>

  <link rel="stylesheet" href="https://taniarascia.github.io/primitive/css/main.css">
</head>

<body>

    <div class="vertical-center">
        <div>
            <h3 class="text-left">Verify your email address</h3>
            <p class="text-left">Hi there 👋</p>
            <p class="text-left">Great you're using 'Touchdown' 🛬</p>
            <p class="text-left">Input the code below to verify your email address.</p>
            <h4 class="text-center">{{ auth_code }}</h4>
        </div>
    </div>

</body>

</html>
